/nkTools.sublime-project
/nkTools.sublime-workspace
/.settings/org.eclipse.ltk.core.refactoring.prefs
/.pydevproject
/.settings/language.settings.xml
/.project
/.cproject
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
